.post-preview-container {
  display: flex;
  margin-bottom: 2rem;
}

.post-preview-img {
  width: 9rem;
  height: 9rem;
}

.post-preview-content {
  margin-left: 1rem;
}

.post-preview-title {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.post-preview-date {
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

.post-preview-image-wrapper {
  width: 200px;
  margin-bottom: 0.5rem;
}
